.footer{
    margin-top: auto;
    background-color: var(--black);
}
.copyright{
  font-size: 12px;
  color: var(--color-gray-700);
}
.container{
  text-align: center;
  padding: .5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contact{
  display: flex;
  align-items: center;
  margin-bottom: .5rem;
}

.email{
  color: var(--blue-ligth);
  text-decoration: underline;
  margin-left: .5rem;
}