.about{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--first-color);
    line-height: 1.5;
}
.icon{
    width: 20px;
    margin-left: var(--space-unit);
}
.link{
    display: inline-flex;
    align-items: center;
}
.social{
    display: flex;
    align-items: center;
}
.monsterTitle{
    margin-bottom: 0;
    display: flex;
    align-items: center;
}
.hero {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    padding-top: 120px;
    padding-bottom:3rem ;
}
.monster::after{
    
          
}
.container{
    width: 85%;
    margin: 0 auto;
}
.typedwritter{
    margin-left: 1rem;
}
@media (min-width: 1024px) {
    .about {
        width: 55%;
    }
    .monsterTitle{
        font-size: var(--font-size-md);
    }
    .hero {
        padding: 150px 0;
        height: 100vh;
    }
    .monster::after{
        content: "";
        position: absolute;
        width: 100%;
        right: -26%;
        z-index: -1;
        height:70vh;
        top:10%;
        background: url("https://s3.amazonaws.com/monstercodes.dev/assets/personaje.png") no-repeat 50%/contain;
    }
}

@media (max-width: 600px) {
    .grid {
      width: 100%;
      flex-direction: column;
    }
}