
.newPost:not(:first-child){
    margin-top:48px;
}

.card{
    background: white;
    border-radius: 5px;
    margin-bottom: 1.55rem;
    border: solid 1px #2222;
    padding: 1rem;
    cursor: pointer;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.card:hover{
    background: #2222;
    
}
.title{
    font-weight: 500;
    font-size: 22px;
}

.preview{
    font-size: 16px;
    margin-top: 16px;
}