.hero{
  min-height: 25vh;
  position: relative;
}
.hero::after {
  content: "";
  position: absolute;
  width: 100%;
  z-index: -1;
  height:100%;
  right:0;
  left: 0;
  bottom: 0;
  top:0;
  background: url("https://s3.amazonaws.com/monstercodes.dev/assets/mc_textura.png") no-repeat 100%/cover;
}
.breadcrumbs{
  color: var(--blue-ligth);
}

.icon{
  height: 1rem;
  display: block;
  margin:0 .2rem;
}

.title{
  color: var(--blue-ligth);
}