.h1{
  font-size: var(--font-size-lg);
  margin-top: var(--space-sm);
  margin-bottom: var(--space-sm);
}
.h2{
  font-size: var(--font-size-md);;
  margin-top: var(--space-sm);
  margin-bottom: var(--space-sm);
}

.h3{
  font-size: var(--font-size-sm);;
  margin-top: var(--space-sm);
  margin-bottom: var(--space-sm);
}
.h4{
  font-size: var(--font-size-m);;
  margin-top: var(--space-sm);
  margin-bottom: var(--space-sm);
}
.h5{
  font-size: var(--font-size-l);;
  margin-top: var(--space-sm);
  margin-bottom: var(--space-sm);
}