.h1{
  font-size: var(--font-size-lg);
}
.h2{
  font-size: var(--font-size-md);
}

.h3{
  font-size: var(--font-size-sm);
}
.h4{
  font-size: var(--font-size-m);
}
.h5{
  font-size: var(--font-size-l);
}