html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  overflow-x: hidden;
}

h1, h2, h3, h4{
  color:var(--black-contrast);
  font-family: Cousine;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  /* Buttons-Colors */
  --btn-general: #a6c51f;
  --btn-general-hover: #1297d1;
  /*Principal colors*/
  --neutral-color: #F7F7F7;
  --first-color: #282D31;
  --second-color: #00cbff;
  --blue-dark:#2F63A4;
  --blue:#318AD6;
  --blue-contrast:#58A7D6;
  --blue-ligth:#9CD9F0;
  --black:#111C26;
  --black-contrast:#1B2C3F;
  --light-grey: #F2F0F0;
  --grey: #707070;
  --color-gray-100: hsl(210deg, 15%, 20%);
  --color-gray-200: hsl(210deg, 15%, 25%);
  --color-gray-300: hsl(210deg, 10%, 40%);
  --color-gray-400: hsl(210deg, 9%, 45%);
  --color-gray-500: hsl(210deg, 8%, 50%);
  --color-gray-600: hsl(210deg, 12%, 55%);
  --color-gray-700: hsl(210deg, 14%, 66%);
  --color-gray-900: hsl(210deg, 25%, 88%);
  --color-gray-1000: hsl(210deg, 25%, 96%);
  /*Text colors*/
  --text-color: #7B7B7B;
  --second-text-color: #80868b;
  --link-text-color: var(--five-color);
  --second-text-color: #F9F9F9;
  /*Hovers*/
  --hover-primary: var(--blue-dark);
  --hover-second: var(--blue);
  --iconos-register: #808080;
  /*Colors default*/
  --dark: #2e2e2e;
  --white: #fff;
  --danger: #f0506e;
  --succes: #32d296;
  /*Fonts default*/
  --font-family: "Rubik", sans-serif;
  --line-height: 1.6;
  --font-size: 16px;
  --font-size-xs: 10px;
  --font-size-sm: .8em;
  --font-size-m: calc(var(--font-size) + 2);
  --font-size-l: calc(var(--font-size-m) + 2);
  --font-size-sm: 1.2em;
  --font-size-md: 2.7em;
  --font-size-lg: 3.2em;
  --font-style-light: 100;
  --font-style-regular: normal;
  --font-style-semibold: 400;
  --font-style-bold: 700;
  /*Properties*/
  --z-back: -1;
  --z-normal: 1;
  --z-subnormal: 2;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
  --space-unit: 1em;
  --space-xxs: calc(0.25 * var(--space-unit));
  --space-xs: calc(0.5 * var(--space-unit));
  --space-sm: calc(0.75 * var(--space-unit));
  --space-md: calc(1.25 * var(--space-unit));
  --space-lg: calc(2 * var(--space-unit));
  --space-xl: calc(3.25 * var(--space-unit));
  --space-xxl: calc(5.25 * var(--space-unit));
  /* components padding */
  --component-padding: var(--space-sm);
  /* fixed values - not affected by --space-unit or --text-base-size */
  --space-unit-fixed: 1rem;
  --space-xxs-fixed: calc(0.25 * var(--space-unit-fixed));
  --space-xs-fixed: calc(0.5 * var(--space-unit-fixed));
  --space-sm-fixed: calc(0.75 * var(--space-unit-fixed));
  --space-md-fixed: calc(1.25 * var(--space-unit-fixed));
  --space-lg-fixed: calc(2 * var(--space-unit-fixed));
  --space-xl-fixed: calc(3.25 * var(--space-unit-fixed));
  --space-xxl-fixed: calc(5.25 * var(--space-unit-fixed));


  --border-radius: .15rem;
  --border-radius-m: calc(var(--border-radius) + 1.1);
  --border-radius-l: calc(var(--border-radius-m) + 1.1);
  --all-transition: all .5s ease;
  --hover-transition: all 150ms ease;
  --input-transition: .2s ease-in-out;
  --simple-box-shadow: 0 1px 4px rgba(0, 0, 0, .16);
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
}