.containerCard{
    margin: 0 auto;
    max-width: 1200px;
    width:85%;
    background: white;
    margin-top: -20px;
    margin-bottom: 1.55rem;
}

@media (min-width: 1024px) {
    .containerCard{
        width:100%;
    }
}