.containerCard{
    margin: 0 auto;
    max-width: 800px;
    width:85%;
    padding:1rem;
    background: white;
    margin-top: -20px;
    border-radius: 5px;
    margin-bottom: 1.55rem;
    border: solid 1px #2222;
}